<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>My cards collection</title>
</head>
<body>

<h2>My cards collection:</h2>
<h3 th:text="${auctionMessage}"></h3>

<div th:each="card:${loggedUser.cards}">
    <div th:text="${card.name}"></div>
    <img width="100" height="150" th:src="${card.largeImage}">

    <form action="/collection/sell" method="post">
        <label for="price">Price:</label>
        <input type="number" id="price" th:field="${auction.price}">
        <label for="card-amount">Amount:</label>
        <input type="number" id="card-amount" th:field="${auction.amount}">
        <input type="hidden" th:value="${card.id}" name="userCardId">
        <input type="submit" value="Sell">
    </form>
</div>

<li><a href="/">Back</a></li>

</body>
</html>