<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Pokemon card collection</title>
</head>
<body>
<h2 th:text="${registrationMessage}"></h2>
<h2 th:text="${loginMessage}"></h2>

<ul>
  <li><a href="/registration">Register</a></li>
  <li th:if="${loggedUser.isEmpty()}"><a href="/login">Sign in</a></li>
  <li><a href="/buy-booster">Buy booster</a></li>
  <li><a href="/collection">My cards collection</a></li>
  <li><a href="/ranking">Best users</a></li>
</ul>

</body>
</html>