<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

<div th:text="${incorrectLoginMessage}"></div>


<form action="/logged" method="post">

    <div>
        <label for="email">Email</label>
        <input th:field="${loginRequest.email}" type="email" id="email" placeholder="Email...">
    </div>
    <div>
        <label for="password">Password</label>
        <input th:field="${loginRequest.password}" type="password" id="password" placeholder="Password...">
    </div>
        <div>
        <input type="submit" value="Login">
    </div>

</form>

<li><a href="/">Back</a></li>

</body>
</html>